nav.navbar.navbar-default {
  margin-bottom: 0;
}
#homeButt{
  max-width: 3em;
  max-height: 3em;
  margin-bottom: 0%;
}
nav{
  margin-bottom: 0;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-family: 'Baloo Tammudu 2', cursive;


}

  ul {
    
    font-family: 'Baloo Tammudu 2', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(-90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  }
  
  li {
    padding-left: 20%;
    padding-right: 70%;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  }
