#sun{
    right: calc(-50vw + 5vw);
    bottom: -55vh;
    position: absolute;
    z-index: -5;
    width: 78%;
    height:78%;
    text-align: center;
    animation-name: sunset;
    animation-duration: 120s;
    animation-delay: -120s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes sunset {
  /* 50%{right: 0vh; bottom: 0vh;};  */
   50%{right:80vw; bottom:80vh; height: 35%; width: 35%;}
}